* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  #left-side-container {
    background-color: cornflowerblue;
    width: 200px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
  }

  #submit-container, .color-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #submit-container > * {
    margin-top: 10px;
    color: white;
  }

  #grid-number {
    color: initial;
  }

  #right-side-square-container {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px #494744;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #create-btn, #reset-btn {
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
  }

  #create-btn:hover, #reset-btn:hover {
    background-color: black;
  }
  button, input{
    width: 10em;
  }
  .color-btn :where(#single-color-btn, #random-color-btn) {
    background-color: #494744af;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
  }
  .color-btn > #single-color-btn:hover {
    background-color: #030387;
  }

  .color-btn > #random-color-btn:hover {
    background-color: rgb(31, 48, 31);
  }